html, body, {
        width: 100%
    height: 100%;
      bottom:0;
  top:0;
  left:0;
  right:0;
/*    background: #690b01;*/
/*
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
*/
}

.header {
  padding: 1px;
/*  text-align: center;*/
  background: #942925;
  color: white;
  font-size: 20px;
}
.header2 {
  padding: 5px;
/*  text-align: center;*/
  background: #fdeca6;
  color: white;
  font-size: 20px;
}

body {
    background: #fff;
/*    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);*/
    color: #0083e8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
/*    line-height: 1.5;*/
/*    margin: 0 auto;*/
/*    max-width: 800px;*/
/*    padding: 2em 2em 4em;*/
}

h1, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
/*    margin-top: 1.3em;*/
    color: #255;
    font-weight: 600;
    line-height: 1.3;
}

a {
    font-family: 'Alex Brush';font-size: 22px;
    color: #000;
    
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0px solid rgba(255, 0, 0, 0.32);
    border-radius: 4px;
/*    display: block;*/
/*    margin: 1.3em auto;*/
    max-width: 95%;
    float: left;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
