<!DOCTYPE html>
<html>
    <head>
        <title>Pittsburgh Free Stroke Clinic</title>
        <meta property="og:url" content="https://snake1234567.github.io/pfsc.github.io/default">
        <link  href="practiceC.css" rel="stylesheet" type "text/css">
    </head>
    <body>
                <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="_layouts/about.html">About</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
        </ul>
    <h1>about page</h1>
<!--        <a href="file:///C:/Users/dmana/OneDrive/Documents/test.html#bio">-->
<!--
<a href="black%20triangle.png">
            <img src="black%20triangle.png" />
        </a>
-->
<!--
<video width="400" controls autoplay>
    <source src="RPReplay_Final1590080997.MOV" type="video/mp4">
</video>
                <p style="color:red" style="font-family:'Courier New'">This is another paragraph.</p>
-->
        <ul>
            <a href="https://www.google.com/search?q=stroke&rlz=1C1CHBF_enUS881US881&oq=stroke&aqs=chrome..69i57j0l7.2283j0j7&sourceid=chrome&ie=UTF-8">how to stop a stroke</a>
        </ul>
    </body>
</html>
